* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}
body {
  background-image: url(../images/bg_001.jpg);
}
#body-container {
  margin: 2vh 22vw 2vh 22vw;
}
/* navigation */
nav {
  height: 10vh;
}
/* logo */
#logo {
  float: left;
}
#challenge-logo {
  height: 8vh;
  width: auto;
}

/* nav list */
nav ul {
  float: right;
  list-style-type: none;
}
li {
  display: inline;
}
li a {
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
}
/* main section */
section {
  margin-top: 4vh;
  display: inline-flex;
}
/* text and buttons */
#text-buttons-container {
  width: 50%;
}

/* text */
#text {
  width: 30em;
  margin-top: 15vh;
}
h1 {
  font-size: 2rem;
}

/* buttons */
input[type="button"] {
  height: 3em;
  width: 12em;
  border-radius: 0.2em;
  border-style: none;
  margin-top: 2rem;
}
#learn-more-button {
  background-color: rgb(2, 199, 67);
  margin-right: 4%;
}
#get-app-button {
  background-color: rgb(29, 149, 246);
}
/* phone images */
#phone-images {
  width: 50%;
}
.phone {
  height: 30em;
  float: right;
}
#black-phone {
  z-index: 2;
  position: relative;
  top: 1rem;
  left: 8rem;
}
#white-phone {
  z-index: 1;
  position: relative;
}
