* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}
body {
  background-image: url(../images/bg_001.jpg);
}
.body-container {
  width: 50%;
  margin: 0 auto;
}
/* navigation */
.top-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  height: 10vh;
  margin-top: 2.5rem;
}
/* logo in navigation area */
.logo {
  border: blue 1px solid;
}
.challenge-logo {
  height: 8vh;
  width: auto;
}

/* nav list */
nav ul {
  list-style-type: none;
  border: blue 1px solid;
  display: flex;
}
li {
  border: green 1px solid;
  padding: 1em;
  text-transform: uppercase;
}
li a {
  text-decoration: none;
}
ul :last-child {
  padding-right: 0;
}

/* main section */
section {
  margin-top: 4vh;
  display: inline-flex;
  width: 100%;
}
/* text and buttons */
.text-buttons-container {
  width: 50%;
}

/* text */
.text {
  width: 30em;
  margin-top: 15vh;
}
h1 {
  font-size: 2rem;
}

/* buttons */
input[type="button"] {
  height: 3em;
  width: 12em;
  border-radius: 0.2em;
  border-style: none;
  margin-top: 2rem;
}
.learn-more-button {
  background-color: rgb(2, 199, 67);
  margin-right: 4%;
}
.get-app-button {
  background-color: rgb(29, 149, 246);
}
/* phone images */
.phone-images {
  position: relative;
  width: 50%;
}
.phone {
  height: 30em;
  float: right;
}
.black-phone {
  position: absolute;
  z-index: 2;
  top: 1rem;
  left: 8rem;
}
.white-phone {
  z-index: 1;
}
